.singleUniversiryCard{
    width: 100%;
    margin-bottom: 8px;
    height: 132px;
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #ededed;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.universityCardFlexContainer{
    float: left;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-grow: 1;
}

.ratingCircle{
    float: left;
    width: 82px;
    height: 26px; /* 82 - ( 28 + 29 ) dicress the padding*/
    margin: 25px;
    border-radius: 50%;
    background-color: #73e53e;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
    vertical-align: center;
    padding: 26px 0 30px 0;
    font-weight: bold;
    display: inline-block;
}

.universityNameAndReviewsWrapper{
    max-width: 414px;
    /*float: left;*/
    padding-left: 22px;
    -webkit-flex: 4.329;
    flex: 4.329;
}

.universityNameInCard{
    padding-top: 25px;
    font-size: 22px;
    font-weight: bold;
    color: #0789f4;
}
.universityNameInCardSpan:hover{
    cursor: pointer;
}

.universityLocationInCard{
    padding-top: 6px;
    font-size: 16px;
    color: #9b9b9b;
}

.universityNumberOfReviewsInCard{
    padding-top: 13px;
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
}

.univercityCardPriceText{
    padding-top: 61px;
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
}

.univercityCardDollars{
    padding-top: 9px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 6.6px;
    color: #73e53e;
}

.universityPriceWrapper{
    display: inline-block;
    -webkit-flex: 3.227;
    flex: 3.227;
    /*min-width: 570px;*/
}

.universityCardRatingWrapper{
    -webkit-flex: 2.413;
    flex: 2.413;
    /*text-overflow: ellipsis;*/
}

.univercityCardCompanyRatingText{
    padding-top: 61px;
    font-size: 16px;
    font-weight: bold;
    color: #4a4a4a;
}

.univercityCardCompanyRatingStars{
    padding-top: 11px;
}


