<!--

    Data I Need For This Page.

    1. Array Of All Universities, each one should have: { ID: Id, RATING: Intger 1-10, NAME: name, LOCATION: Loacation, NUMBER-OF-REVIEWS: Intger, PRICE: Intger 1-5, OUR-VALUE-OF-BEST-UNEVIRSITIES: Intger? }
    2. Array of Locations.
    3. Array of Majors.

    JSON Structure that i think make sence for this page

    {
        universities:[ University Objects ],
        locations: [],
        majors: [],
    }

    Each University Object

    {
        name: " ",
        rating: 3,
        location: "City",
        numberOfReviews: 1900,
        ourValue: 9                     <- ourValue is basically how we rate a university for the sort by Best
    }


-->



<html>

<head>

    <!--Including EJS-->
    <script type="text/javascript" src="../ejs.min.js"></script>

    <!-- Imcluding My Store -->
    <script type="text/javascript" src="../stores/home.js"></script>

    <!--  Imcluding My Methods Object -->
    <script type="text/javascript" src="../functions/home/methods.js"></script>
    <!-- The Object is Called "_" -->

    <!-- Font Used For Unevirsity Logo-->
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">

    <!-- Font Used For All The Web-Site -->
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="../styles/home/homePage.css">
    <link rel="stylesheet" type="text/css" href="../styles/home/navBar.css">
    <link rel="stylesheet" type="text/css" href="../styles/home/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/home/universityCard.css">
    <link rel="stylesheet" type="text/css" href="../styles/home/pageTracker.css">
    <link rel="stylesheet" type="text/css" href="../styles/home/searchBox.css">



    <!--  TEMPLATES START  -->


    <!-- Nav Bar Start -->
    <script id='navBarTemplate' type="text/template">
        <div class='navBar'>
            <div class='universityLogo button'>
                University
            </div>
            <div class='simpleNavBarButton loginNavBarButton button'>
                Login
            </div>
            <div class='signUpNavBarButton button'>
                <span class='signUpNavBarButtonText'>
                        Sign Up
                    </span>
            </div>
            <div class='simpleNavBarButton button'>
                Contact us
            </div>
            <div class='simpleNavBarButton button'>
                About
            </div>
        </div>
    </script>
    <!-- Nav Bar End -->


    <!-- Search Box Template Start -->
    <script id='searchBoxTemplate' type="text/template">
        <div class="innerSearchBoxWrapper">
            <div class="searchBoxTitles">
                Degree Type
            </div>
            <div class="searchBoxSelectWrapper degreetypeSelect">
                <select class="searchBoxSelect">
                    <option class="searchBoxOption"> Select Degreetype</option>
                </select>
            </div>
            <div class="searchBoxTitles">
                Location
            </div>
            <div class="searchBoxSelectWrapper locationSelect">
                <select class="searchBoxSelect">
                    <option class="searchBoxOption"> Select Location</option>
                </select>
            </div>
            <div class="searchBoxTitles">
                Major
            </div>
            <div class="searchBoxSelectWrapper majorSelect">
                <select class="searchBoxSelect">
                    <option class="searchBoxOption"> Select Major</option>
                </select>
            </div>
            <div class="searchBoxTitles">
                Price
            </div>
            <div class="searchBoxPriceDollars flex-container">
                <span class='dollar flex-item'>$</span>
                <div class="filler flex-item"></div>
                <span class='dollar flex-item'>$</span>
                <div class="filler flex-item"></div>
                <span class='dollar flex-item'>$</span>
                <div class="filler flex-item"></div>
                <span class='dollar flex-item'>$</span>
                <div class="filler flex-item"></div>
                <span class='dollar flex-item'>$</span>
            </div>
            <span class="searchBoxPriceDollarsText low">
                Low
            </span>
            <span class="searchBoxPriceDollarsText high">
                High
            </span>
            <div class="searchBoxTitles filtersAppliedText">
                Filters applied
            </div>
            <div class="filtersApplied">
                <% let keys = Object.keys((myState.getFiltersApplied())) %>
                <% for(let i = 0; i < keys.length; i++){ %>
                <div class="singleAppliedFilterBox" style=<%= (i % 2 === 0) ? 'margin-right:11px' : '' %>>
                    <%= myState.getFiltersApplied()[ keys[i] ] %>
                    <img src="../images/remove.svg" class='singleAppliedFilterRemove'>
                </div>
                <%}%>
            </div>
        </div>
    </script>
    <!-- Search Box Template End -->


    <!-- Body Sratrt -->
    <script id='resultBodyTemplate' type="text/template">
        <div class="topRatedUniversitiesSearchBar">
            <div class= "topSearchBar flex-container"> 
                <div class='topRatedUnivercitiesText flex-item'>Top rated Univercities</div>
                <div class="homePageSearchInput flex-item">
                    <input type="text" class="searchUniversity" value='Search University' id='searchInput'>
                </div>
                <div class="sortByWrapper flex-item right"> 
                    <span class='sortByText'>
                            Sort By:
                        </span>
                    <span class=<%= myState.isSortBy( 'Best') ? 'focusedSortBy' : 'sortByTextButtons' %>>
                            Best
                        </span>
                    <span class=<%= myState.isSortBy( 'A-Z') ? 'focusedSortBy' : 'sortByTextButtons' %>>
                            A-Z
                        </span>
                    <span class=<%= myState.isSortBy( 'Price') ? 'focusedSortBy' : 'sortByTextButtons' %>>
                            Price
                    </span>
                    <span class=<%= myState.isSortBy( 'Company Rating') ? 'focusedSortBy' : 'sortByTextButtons' %>>
                            Company Rating
                    </span>
                </div>
            </div>
            <div class="universityResultList" id='universityResultListDiv'>
                LIST OF UNIVERSITY CARDS TEMPLATE
            </div>
        </div>
    </script>
    <!-- Body End -->


    <!-- Single University Card Template Start ( Template That Is Used inSide a Template ) -->

    <script id='singleUniversityCardTemplate' type="text/template">
        <div class="singleUniversiryCard flex-container">
            <% let circleColor = '#7ed321'; %>
                <!-- Green -->
            <% if( locals.number <= 6 ){ %>
            <% circleColor = '#ff9700'; %>
            <% } %>
            <% if( locals.number <= 3 ){ %>
            <% circleColor = '#f1344f'; %>
            <% } %>
            <div class="ratingCircle flex-item" style=<%='background-color:' + circleColor %>>
                <%= locals.number %>
            </div>
            <div class="flex-container universityCardFlexContainer flex-item">
                <div class="universityNameAndReviewsWrapper flex-item">
                    <div class="universityNameInCard">
                        <span class="universityNameInCardSpan">
                            University Name
                        </span>
                    </div>
                    <div class="universityLocationInCard">
                        Location
                    </div>
                    <div class="universityNumberOfReviewsInCard">
                        1900 Reviews
                    </div>
                </div>
                <div class="universityPriceWrapper flex-item">
                    <div class="univercityCardPriceText">
                        Price
                    </div>
                    <div class="univercityCardDollars">
                        $$$$$
                    </div>
                </div>
                <div class="universityCardRatingWrapper flex-item">
                    <div class="univercityCardCompanyRatingText">
                        Company Rating
                    </div>
                    <div class="univercityCardCompanyRatingStars">
                        <% let indecaitor = parseInt( (locals.number / 2) , 10)%>
                        <% for(let i = 0; i < 5; i++ ){ %>
                        <% if( i < indecaitor){ %>
                        <img src="../images/yellowStar.svg">
                        <% }else{ %>
                        <img src="../images/grayStar.svg">
                        <%}}%>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- Single University Card Template End -->


    <!--  Page Tracker Bar Template Start  -->
    <!-- State Needed { numberOfPages: 23, currnePage: 1 }-->

    <script id='pageTrackerTemplate' type="text/template">
        <div class="pageTrackerWrapper">
            <div class="pageTrackerArrowBox">
                <img class='pageTrackerArrowImg' src="../images/leftArrow.svg">
            </div>
            <div class="pageTrackerText">
                Page
            </div>
            <% for( let i = 1; i <= Math.ceil(( myState.getDataLength() + 1 ) / 8 ); i++ ){ %>
            <% if( i <= 3 || i === Math.ceil(( myState.getDataLength() + 1 ) / 8 ) ){ %>
            <div class=<%= (i === myState.getCurrnetPage()) ? 'pageTrackerCurrnetPage' : 'pageTrackerSingleNumber' %>>
                <%= i %>
            </div>
            <% }else if( i === 4 ){ %>
            <div class="threeDots">. . .</div>
                <% }else{}%>
                <% } %>
                <div class="pageTrackerArrowBox">
                    <img class="pageTrackerArrowImg" src="../images/rightArrow.svg">
                </div>
        </div>
    </script>

    <!--  Page Tracker Bar Template End  -->


    <!-- Footer Start-->
    <script id='footerTemplate' type="text/template">
        <div class="footer">
            <div class="footerButtonsWrapper">
                <div class="footerTextButtons footerButtons">
                    <span class='footerContantButton'>
                            Contact
                        </span>
                    <span>
                            About Us
                        </span>
                </div>
                <div class="footerIcons footerButtons">
                    <span class='footerShape footerFacebookShape'>
                            <img src="../images/faceBook.svg" alt="facebook">
                        </span>
                    <span class='footerShape'>
                            <img src="../images/twiter.svg" alt="facebook">
                        </span>
                    <span class='footerShape'>
                            <img src="../images/basketball.svg" alt="facebook">
                        </span>
                </div>
            </div>
            <div class="copyRight">
                Copyright2017
            </div>
        </div>
    </script>
    <!-- Footer End-->



    <!--  TEMPLATES END  -->

    <script>
        onload = ()=>{ 
            //  Here im changing all the html in to the templates 
            _.loadHomePage();

            //  Here im creating the option to click and hover on 
            //  the search icon of the input because he is a backgound image.
            let input = document.getElementById('searchInput');
            if(input){
                input.addEventListener('click', (e)=>{
                    // Checking if the click is on the search background by calculating the X possition of it.
                    const start = input.getBoundingClientRect().left; // X possition where the input starts.
                    const click = e.pageX; // X possition the was clicked.
                    const width = input.offsetWidth; // Width of the element.

                    // Min X Possition to be on Background 
                    const min =  start + width - 40;

                    // Max X Possition to be on Background 
                    const max =  start + width - 15;


                    if( click >= min && click <= max ){
                        // Do the search
                        console.log('yesss')
                    }
                });

                // Here Im doing the same thing I did above but on evry move of the mose on the input,
                // isOver will be an indicator wether the mouseover was updated yet or not.
                let isOver = false;
                input.addEventListener('mousemove', (e)=>{
                    const start = input.getBoundingClientRect().left;
                    const click = e.pageX;
                    const width = input.offsetWidth;
                    if( click >= ( start + width - 40 ) && click <= ( start + width - 15 ) ){
                        if(!isOver){
                            isOver = true;
                            input.style.cursor = "pointer";
                        }
                    }else{
                        if(isOver){
                            isOver = false;
                            input.style.cursor = "";
                        }
                    }
                })
            }
        };
    </script>

</head>

<body>
    <div id='navBarDiv'>
        NAV BAR TEMPLATE
    </div>
    <div>
        <img class='homePageHero' src="../images/homeHero.svg" alt="Univercity">
    </div>
    <div class='homePageBody flex-contaiter'>
        <div class="searchDiv flex-item" id='searchDiv'>
            SEARCH BOX TEMPLATE
        </div>
        <div class="homeResultWrapper flex-item">
            <div id='resultBodyDiv' class="topRatedUniversitiesSearchBar">
                RESULT BODY TEMPLATE
            </div>
        </div>
    </div>
    <div id='footerDiv'>
        FOOTER TEMPLATE
    </div>
</body>

</html>